.container{
    height: 550px;
    width: 1200px;
    
     text-align: center;
    background-color: aquamarine;
    padding: 25px;
}

#height,#weight{
    width: 125px;
    height: 25px;
    margin-top: 20px;
}

#weight-guid{
    margin-left: 75px;
    margin-right: 30px;
}

#result{
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241,241, 241);
}

button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }

  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  